extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p FOR prospective employees WHO need an easy-to-access, scannable resume. QResume is a Web-based service THAT summarizes a person&apos;s important information onto a website that can be easily accessed via a QR code. UNLIKE Linktree, OUR PRODUCT is more focused towards a professional environment.
        p Website Admins: Cory Myers, Lin Ngo, Sean Nguyen
        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started Today!