extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner QResume
    div.Message
      div.Title
        h3 A Quick and Easy
        h1 Resume for Professionals
      span.Details Access your QR Code!
    div.NavButtons
      a(href="/user")
          div.NavButton Get started today!