extends layout

block content
  .main.container.text-xs-center
    h1.display-3 A Professional Site for Resumes
    p.lead Get an easy QR code after uploading a resume onto our site!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started Today!