extends layout



block content
  - var pdfDirectory = "/PDFs/" + email + ".pdf"

  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.jpg', alt='avatar')
          | #{name}
          <embed width="100%" height="100%" name="plugin" id="pdf" src = #{pdfDirectory} type="application/pdf">
