extends layout



block content
  - var profilePictureDirectory = "/images/" + email + ".jpg"
  - var pdfDirectory = "/PDFs/" + email + ".pdf"

  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src= profilePictureDirectory, alt='avatar')
          | #{name}
          <embed width="100%" height="100%" name="plugin" id="pdf" src= #{pdfDirectory} type="application/pdf">
          #qrcode
            button.qr-action(data-qr-action='download')
            button.qr-action(data-qr-action='copy')
            a.qr-action(data-qr-action='visit' target='_blank' title='Visit QR Source')