extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Uploads
        hr
        div
        form(action='/uploads' method='POST' enctype='multipart/form-data')
            div
                label(for='name') Image Title
                input#name(type='text' placeholder='Name' value='' name='name' required='')
            div
                label(for='desc') Image Description
                textarea#desc(name='desc' value='' rows='2' placeholder='Description' required='')
            div
                label(for='image') Upload Image
                input#image(type='file' name='image' value='' required='')
            div
                button(type='submit') Submit
        hr
        h1 Uploaded Images
        div
          img(src='/PDFs/image-1667250722466.jpg')
          


